/* Add application styles & imports to this file! */
body {
  background:
    radial-gradient(rgba(253, 253, 253, 0.822) 1px, transparent 2px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a46c 76px,
     #524a4a91 77px, transparent 78px, transparent 109px),
    rgba(78, 77, 77, 0.055);
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-color: #000000e7 ;
  /* background-color: #000000ec ;
    background-image: linear-gradient(90deg, transparent 50%,
    rgba(56, 54, 54, 0.253) 50%);
    background-size: 50px 50px;
    margin:auto; */
}